In [1]:
import pandas as pd
import numpy as np

In [76]:
df=pd.read_csv('scraped_raw_data.csv')

In [77]:
df=df.drop(columns='Unnamed: 0')

In [78]:
len(df.columns)

10

In [63]:
 df['Designation']=df.designation.str.split(',')

In [92]:
def replace_(x):
    y=x[0]
    return y.split('(')

In [93]:
df['Designation']=df.designation.apply(replace_)

In [106]:
df.designation=df.designation.str.replace(' (Drive)','')

C:\Users\Dell\AppData\Local\Temp\ipykernel_6312\2904610371.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.designation=df.designation.str.replace(' (Drive)','')

In [68]:
df.employee_reviews.fillna(0,inplace=True)

In [72]:
df.isna().sum()

designation         0
company_name        0
location            0
estab_year          0
employees_count     0
job_description     0
skills              0
hr_name             0
experience_req      0
employee_reviews    0
Designation         0
dtype: int64

In [71]:
df.dropna(inplace=True)

In [75]:
df.Designation.unique()

array(['Business Systems Analyst '], dtype=object)

In [107]:
df.designation

0                       Business Systems Analyst (Drive)
1                               Technical Writer (Drive)
2                                  AEM Developer (Drive)
3                     Azure Databricks Developer (Drive)
4                Big Data - Java Spark Developer (Drive)
                             ...
395    Web Consultant - Website & Mobile Application ...
396                                   Software Developer
397                            Technical Product Manager
398                            NOC Engineer [T500 - 6869
399                                          VP Engineer
Name: designation, Length: 400, dtype: object